.form-register{
    /* visibility: hidden; */
    position: absolute;
    bottom: 35%;
    right: 35%;
    height: 50vh;
    min-width: 30%;
    color: #cad6dd;
    border-radius: 1rem;
    font-size: 0.9em;
    background-color: rgba(8, 54, 69, 0.8);
}

form{
    flex-direction: column;
    align-items: center;
}
