#header-categories{
  /* background-color: red;
  background-image: url(/assets/img/fondo3.PNG);
  background-size: calc(100%) calc(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.carousel-control-prev, .carousel-control-next {
  width: 40px; /* Ajusta el ancho del botón */
  height: 40px; /* Ajusta el alto del botón */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%);
  border: unset;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px; /* Ajusta el tamaño del icono */
  height: 20px;
}


.carousel-categories img{
  height: 80vh;
  object-fit: cover;

}


.main-container{
  padding: 2rem 0;
  background-color: #f3f3f3;
  width: 100%;
}

#section-categories{
  width: 100%;
}


.box-container-cars{
  padding: 2rem 1rem;
}


.box-container-cars h3{
  text-align: center;
  padding: 1.5rem 0;
}


.main-container h2 {
  font-size: 2rem;
}

.box-buttom{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}


.box-card-cars{
  margin: auto;
  width: 100%;
  height: 85vh;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-cars img{
  width: 80%;
  margin: auto;
  height: 40vh;
  object-fit: contain;
}

.box-cars{
  width: 100%;
  height: 100%;
}

.body-cars p{
  font-size: 1rem;
}




/* BOTONES*/
.btn-black {
  color: #0f2027;
  border: 1px solid #0f2027;
  transition: 0.7s ease, color 0.7s ease;
  margin: 0.5rem;
}

.btn-black:hover {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  color: #fff;
  transition: 0.7s ease, color 0.7s ease;
}


/* QUERYS SECTION CATEGORIES */

@media screen and (min-width: 360px) and (max-width: 767px) {}


@media screen and (min-width: 1380px) and (max-width: 2560px) {

  .bg-carousel{
    background-color: #9294544d;
  }
  .box-cars img{
    width: 100%;
    margin: auto;
    height: 25vh;
    object-fit: contain;
}

.box-card-cars{
    margin: auto;
    width: 100%;
    height: 55vh;
    border-radius: 15px;
}
}
