/* SECTION CONTACT */

.section-form {
    width: 100%;
    justify-content: space-between;
    height: 90vh;
}

.contact-text {
    color: #0f2027;
    width: 50%;
    background-image: url(/assets//img//modelos/model6.PNG);
    background-position: cover;
    background-repeat: no-repeat;
    padding: 5% 0 0 5%;
}

.contact-form{
    width: 50%;
}


.contact-text h6 {
    font-size: 4rem;
}


.text-form-contact p {
    font-size: 1rem;
}

label {
    margin: 1% 0;
    font-size: 1rem;
}


@media screen and (min-width: 360px) and (max-width: 767px) {
    .box-form {
        width: 100%;
    }

    .contact-text {
        padding: 5% 0;
        margin: 0 0 10% 0;
    }

    .contact-text h6 {
        font-size: 1.5rem;
    }

    .main-contact {
        flex-direction: column;
        width: 100%;
    }

    .text-form-contact p {
        font-size: 1rem;
        color: #f3f3f3;
    }

    label {
        margin: 2% 0;
    }
}

@media screen and (min-width: 1380px) and (max-width: 2560px) {

    .section-form {
        height: 100vh;
    }


.contact-text {
    padding: 5% 0 0 5%;
    color: #0f2027;
    height: 100%;
    background-size: calc(100% + 30%) calc(100% + 5%);
    background-position: center;
}

.contact-form{
    margin: auto;
    height: 100%;
}

.contact-text h6 {
    font-size: 4.5rem;
}

.text-form-contact p {
    font-size: 1rem;
}

label {
    margin: 3% 0;
    font-size: 1rem;
}
}


/*----------SECTION QUESTIONS-------------*/

#questions h3 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 2rem 0 1rem 5%;
}

.section-acordion {
    width: 70%;
    margin: 1rem auto;
    padding: 2rem;
    text-align: left;
}

.accordion-item {
    margin: 3rem 0;
    padding: 1rem 0;
    border-bottom: 2px solid #9facd64d;
}

.accordion-body p {
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 70%;
}

.accordion button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.accordion-button::after {
    content: "\25be";
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.accordion-button.collapsed::after {
    content: "\25b8";
    transform: rotate(90deg);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 360px) and (max-width: 767px){}

@media screen and (min-width: 1380px) and (max-width: 2560px){

/*----------- QUESTIONS------------------- */

    #questions {
        height: 100%;
        margin: 5% 0;
    }

    #questions h3 {
        font-size: 5rem;
    }

    .section-acordion {
        width: 60%;
    }

    .accordion-item {
        margin: 1rem 0;
        padding: 1rem 0;
        border-bottom: 2px solid #9facd64d;
    }

    .accordion-body p {
        font-size: 1.1rem;
    }
    }


/*-----------STYLE OF FOOTER----------------------*/

.footer {
    display: flex;
}

.footer p {
    font-size: 1.5rem;
}

footer {
    color: rgb(124, 124, 124);
}

footer a {
    color: rgb(124, 124, 124);
}

@media screen and (min-width: 360px) and (max-width: 767px) {

/* SECTION FOOTER */

.footer{
    flex-direction: column;
}

.footer p {
    font-size: 1rem;
}

}

@media screen and (min-width: 1380px) and (max-width: 2560px) {}