/* SECTION CONTACT */
.main-contact {
    background-image: url(/assets/img/bg-img/contac3.PNG);
    background-size: calc(100%) calc(100% + 20%);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#container-contact {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.box-form {
    padding: 2rem;
    height: 100%;
}

.contact-text h6 {
    font-size: 150rem;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .main-contact {
        flex-direction: column;
    }

    .text-form-contact p {
        font-size: 1rem;
    }

    label {
        margin: 0;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1380px) and (max-width: 2560px) {
    .box-form {
        background-color: rgba(14, 44, 63, 0.8);
        height: 80%;
        width: 35%;
        padding: 2rem;
    }

    .contact-text {
        padding: 0 0 0 5%;
        color: #f3f3f3;
        margin: 0 0 10% 0;
    }

    .contact-text h6 {
        font-size: 4.5rem;
    }

    .main-contact {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .text-form-contact p {
        font-size: 1rem;
        color: #f3f3f3;
    }

    label {
        margin: 3% 0;
        font-size: 2rem;
        color: #f3f3f3;
    }
}

/*-----------STYLE OF FOOTER----------------------*/

.footer {
    display: flex;
}

.footer p {
    font-size: 1.5rem;
}

footer {
    color: rgb(124, 124, 124);
}

footer a {
    color: rgb(124, 124, 124);
}

@media screen and (min-width: 360px) and (max-width: 767px) {

/* SECTION FOOTER */

.footer{
    flex-direction: column;
}

}

@media screen and (min-width: 1380px) and (max-width: 2560px) {}