h1,
h2,
h3,
h4,
h5 {
    font-family: "Rubik", sans-serif;
}

.navbar-toggler {
    border-color: #204c70;
}

.navbar-toggler-icon {
    background-color: rgb(59, 105, 142, .50);
}


/* STYLES GENERAL OF NAV */
#navbarNav {
    width: 100%;
    margin: 0 15% 0 0;
}

.box-navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    li {
        list-style: none;

        a {
            font-size: 1rem;
            color: #0f2027;
            font-weight: bold;
        }
    }
}

.section-navbar {
    background-color: #9294544d;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 5%;
}

.navbar-brand img {
    width: 30%;
}

.camp-form {
    width: 50%;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .section-navbar {
        background-color: #f3f3f3;
    }

    .section-navbar button {
        position: absolute;
        bottom: 20%;
        left: 80%;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0%;
        z-index: 10;
        background-color: #0f2027;
    }

    .box-navbar {
        width: 100%;
        height: 90vh;
        justify-content: flex-start;

        li {
            padding: 10% 0;
            a {
                font-size: 1.5rem;
                text-align: center;
                color: #f3f3f3;
            }
        }
    }

    .navbar-brand img {
        width: 30%;
    }

    .nav-icon {
        border: 2px solid rgb(208, 213, 225);
    }

    .camp-form {
        display: none;
    }
}

@media screen and (min-width: 1380px) and (max-width: 2560px) {
    .box-navbar {
        li {
            a {
                font-size: 1.2rem;
            }
        }
    }

    .navbar-brand img {
        width: 30%;
    }

    .camp-form {
        width: 40%;
    }
}