html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("../assets/img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Lato", sans-serif;
  flex: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  color: rgb(124, 124, 124);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
footer a {
  color: rgb(124, 124, 124);
}
h1 h2 h3 h4 h5 {
  font-family: "Rubik", sans-serif;
}
/*NAVBAR*/
/*NAVBAR*/
.navbar {
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  border-radius: 0 0 10px 10px;
}

.navbar-brand img {
  max-height: 3.125em;
}
.main-content {
  animation: fadeIn 2s ease-in-out;
}

.main-title {
  animation: zoomIn 1s ease-in-out;
}

.main-slogan,
.sub-slogan {
  color: #fff2f2;
  animation: fadeInUp 1.5s ease-in-out;
}
.btn-black {
  background: #0f2027 !important;
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ) !important;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027) !important;
  color: #fff !important;
  border-radius: 0.625em 0.313em;
  transition: background 0.7s ease, color 0.7s ease;
}

.btn-black:hover {
  background: #bdc3c7 !important;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7) !important;
  background: linear-gradient(to right, #2c3e50, #bdc3c7) !important;
  color: #fff !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
